.middle_header {
  padding-top: 6px;
  border-bottom: 1px solid black;
  width: 300px;
}

.card-box {
  padding: 0.45rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(145, 134, 134, 0.36);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.edit-footer-fixed {
  box-shadow: 0 -2px 4px 0 #c6c9cb;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background: #fff;
  text-align: left;
  z-index: 900;
}

.edit-body {
  padding-bottom: 45px;
}

.table tbody tr td {
  padding: 8px;
}

.alert {
  padding: 0.15rem 1.25rem;
}

.btn-group-sm>.btn-sm,
.btn-group-sm>.btn {
  padding: 0.15rem 0.5rem;
}

.btn-group-sm>.btn-sm2 {
  padding: 0.1rem 0.3rem;
  font-size: 0.6rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.nav-tabs>li>a {
  padding: 8px 10px;
}

.breadcrumb {
  padding: 0.25rem 1em;
}

.jstree-anchor:hover {
  color: blue;
}

.page-content-wrapper {
  background-color: #f1f1f1;
}

.mb_panel {
  margin: 5px;
  padding: 15px;
  min-height: 26px;
}

.mb_panel.with-shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px;
}

.mb_panel.white-background {
  background-color: white;
}

.mb_panel.gray-background {
  background-color: #f1f1f1;
}

.mb_panel.with-border {
  border: 1px solid #e4e7eb;
}

.center {
  text-align: center;
}

.paddind_bottom_10 {
  padding-bottom: 10px;
}

.icon_da {
  padding-left: 5px;
  padding-right: 5px;
}

/* .icon.size24 {
  font-size: 24px;
}

.icon.size30 {
  font-size: 30px;
}

.icon.size36 {
  font-size: 36px;
} */

.icon.red {
  color: red;
}

.icon.green {
  color: green;
}

.icon.blue {
  color: blue;
}

.sortable_row {
  display: inline-block;
  height: 150px;
  padding: 2px 1px;
  border: 2px solid #aaf;
}

.portlet {
  padding: 0.3em;
  min-width: 50px;
}

.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
  min-height: 20px;
}

.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
  color: red;
  text-shadow: #444 1px 1px 0;
}

.portlet-content {
  padding: 0.4em;
}

.portlet-placeholder {
  height: 4em;
  line-height: 1.2em;
  background: green;
}

.set-margin {
  margin-right: 4px;
  margin-left: 4px;
}

.remove_margin_bottom {
  margin-bottom: 0;
}

.tiny-text {
  font-size: 80%;
}

.italic-text {
  font-style: italic;
}

.bold-text {
  font-weight: bold;
}

.indent-text0 {
  text-indent: 0;
}

.indent-text1 {
  text-indent: 1em;
}

.indent-text2 {
  text-indent: 2em;
}

.indent-text3 {
  text-indent: 3em;
}

.indent-text4 {
  text-indent: 4em;
}

.text-size-1-6-em {
  font-size: 1.6em;
}

.text-size-1-7-em {
  font-size: 1.7em;
}

.text-size-1-8-em {
  font-size: 1.8em;
}

.text-size-2-em {
  font-size: 2em;
}

.text-size-3-em {
  font-size: 3em;
}

.text-with-shadow {
  text-shadow: #444 1px 1px 0;
}

.set-glyphicon-margin {
  margin-right: 4px;
}

.set-glyphicon-shadow {
  text-shadow: #444 1px 1px 0;
}

.color_red {
  color: red;
}

.color_pink {
  color: pink;
}

.color_gray {
  color: gray;
}

.color_green,
.icon_color_is_success {
  color: green;
}

.color_light_green,
.icon_color_show {
  color: #009933;
}

.color_blue {
  color: blue;
}

.color_yellow {
  color: yellow;
}

.icon_color_remove {
  color: black;
}

.background_red_10 {
  background: #ffcccc;
}

.background_green_10 {
  background: #ccffdd;
}

.background_orange {
  background: #ffbf00;
}

.background_orange_80 {
  background: #ffe699;
}

.background_white {
  background: white;
}

.background_gray {
  background: gray;
}

.opacity_06 {
  opacity: 0.6;
}

.notification-block {
  width: 400px;
  margin: 1em;
  background: lightyellow;
  border-radius: 5px;
  border: 1px solid yellow;
  color: black;
  position: fixed;
  top: 10px;
  right: 0px;
  line-height: 18px;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -3px 3px 15px #ddd;
  -webkit-box-shadow: -3px 3px 15px #ddd;
  -o-box-shadow: -3px 3px 15px #ddd;
}

.notification-block .notification-title {
  font-size: large;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0.5em;
}

.notification-block .notification-text {
  padding: 0.5em;
  font-size: small;
  color: black;
}

.notification-block.success {
  background: #bff1bf;
  border: 1px solid #28a745;
  color: black;
}

.notification-block.success .notification-title {
  color: black;
}

.notification-block.danger {
  background: #ebb6bd;
  border: 1px solid #dc3545;
  color: darkred;
}

.notification-block.danger .notification-title {
  color: darkred;
}

.notification-block a.close {
  position: absolute;
  color: #212529;
  cursor: pointer;
  top: 5px;
  right: 5px;
  text-decoration: none;
  border: none;
}

.footer-system-utils {
  font-size: small;
  text-align: right;
  color: #ddd;
}

.custom-select.correct {
  border: 1px solid #28a745;
}

.custom-select.incorrect {
  border: 1px solid #dc3545;
}

.text-center {
  text-align: center;
}

/*# sourceMappingURL=mb_common.css.map */