#dialog-source-info a {
    text-decoration: underline;
    color: #007bff;
}

.btn-invisible {
    background: #fff;
    outline: none;
}

.btn-invisible:hover, .btn-invisible:focus {
    background: #fff;
    outline: none;
}
