{% extends "base.html" %}

{% block title %}
Настройки профиля
{% endblock %}

{% block content %}
<div class="container">
<div class="login_box">
  <div class="login_title">
    <h4>
      Настройки профиля
    </h4>
  </div>
  <div class='login_wrapper'>
    <form method="post" class="was-validated">
      <table class="table table-borderless">

        {% for field in form.visible_fields %}
          <tr>
            <th>{{ field.label_tag }}</th>
            <td>
              {{ field.errors }}
              {{ field }}
              {{ field.help_text }}
            </td>
          </tr>
        {% endfor %}

      </table>
      {% csrf_token %}
      <div class="login_submit">
        <button type="submit" class="btn btn-outline-primary btn-sm btn-block">Сохранить</button>
      </div>
    </form>
  </div>
</div>
</div>
{% endblock %}