<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section})}">

<head>
  <title>Настройки соединений</title>
</head>

<body>
  <section>
    <div class="page-name" id='connects-page'></div>
    <script th:src="@{/plugins/ckeditor-markdown/ckeditor.js}" type="text/javascript"></script>
    <script th:src="@{/js/connects/connects-page.js}" defer="defer"></script>
    <div>
      <h4 class='center'>Изменение настроек соединения с хранилищем данных</h4>
      <form th:method="POST" th:action="@{/data-store/save}" th:object="${form}">
        <div class="edit-body">
          <div class=" mb_panel with-shadow white-background">
            <input type="hidden" name="id" id="id_id" required th:value="${form.id}">
            <div class="form-group">
              <label for="id_name">Название</label>
              <input type="text" name="name" id="id_name" class="form-control form-control-sm" required
                th:value="${form.name}">
            </div>
            <div class="form-group">
              <label for="id_description">Описание</label>

              <input type="text" name="description" id="id_description" class="form-control form-control-sm"
                th:value="${form.description}">
            </div>
            <div class="form-group">
              <label for="id_path">Путь</label>
              <input type="text" name="path" id="id_path" class="form-control form-control-sm" required
                th:value="${form.path}">
            </div>
          </div>
          <div class="edit-footer-fixed center">
            <button class="btn btn-outline-success btn-sm" type="submit" id="id_button_save">
              <i class="fa fa-save"></i>
              Сохранить
            </button>
            <a href='/connects/' class="btn btn-outline-danger btn-sm" role="button" id="button_cancel">Отмена</a>
          </div>
        </div>
      </form>

    </div>
  </section>
</body>

</html>