<div class="btn-group float-right" th:fragment="item">
    <div class="dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-clock-o"></i> Закроется через
        </button>

        <div id="expired" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" data-val=""> - </a>
            <a class="dropdown-item" href="#" data-val="1">1 день</a>
            <a class="dropdown-item" href="#" data-val="7">7 дней</a>
            <a class="dropdown-item" href="#" data-val="30">30 дней</a>
          </div>

    </div>
</div>
