<div class='mb_panel with-shadow white-background' th:fragment="item">
  <a href='edit-entity/?action=new' class="btn btn-outline-primary btn-sm" role="button">
    <i class="fa fa-plus"></i> Создать сущность
  </a>

  <table class="table table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th class='left'>№</th>
        <th class='left'>Название сущности</th>
        <th class='left'>Источник:Схема:Таблица</th>
        <th class='left'>Создал</th>
        <th class='left'>Изменил</th>
        <th class='left'>Дата изменения</th>
        <th class='left'>Витрины</th>
        <th class='left'></th>
      </tr>
    </thead>
    <tbody>
      <th:block th:if="${entities!=null and entities.getSize()>0}">
        <tr th:each="entity,iter : ${entities}">
          <td class='left' th:text="${iter.index+1}">.</td>
          <td class='left'>
            <th:block th:text="${entity.getEntityName()}"></th:block>
            <span th:if="${entity.getDescription() != null }">
              <i class='fas fa-info-circle icon green' data-toggle="tooltip" th:title="${entity.getDescription() }"></i>
            </span>
          </td>
          <td class='left'
            th:text="${entity.getConnectionName() + ':' +entity.getMetadataName()}">
          </td>
          <td class='left' th:text="${entity.getCreatedBy()}"></td>
          <td class='left' th:text="${entity.getUpdatedBy()}"></td>
          <td class='left' th:text="${#calendars.format(entity.getUpdatedAt(),'dd MMMM yyyy HH:mm')}"></td>
          <!--        <td class='left' th:text="${entity.getMartsCount()}"></td>-->
          <td class='center'>
            <div class="btn-group">
              <a class="btn btn-outline-primary btn-sm" role='button'
                th:href="${'/entities/edit-entity/?cid='+entity.getId()}" data-toggle="tooltip"
                title="Изменить сущность">
                <i class='far fa-edit'></i>
              </a>
              <a class="btn btn-outline-primary btn-sm" role='button' th:href="${'/entities/reload/'+entity.id }"
                data-toggle="tooltip" title="Пересоздать диаграмму связей для сущности">
                <i class="fas fa-sync"></i>
              </a>

              <div class="dropdown-divider"></div>
              <a class="btn btn-outline-danger btn-sm" role='button' th:href="${'/entities/delete/'+entity.id }"
                data-toggle="tooltip" title="Удалить сущность"
                onclick="return confirm('Вы уверены, что хотите удалить сущность?')">
                <i class='fas fa-trash-alt'></i>
              </a>
            </div>
          </td>
        </tr>
      </th:block>
    </tbody>
  </table>

  <div class="pagination" th:if="${entities.getTotalPages()>1}">
    <span class="step-links">
      <span class="current">
        Страница <th:block th:text="${entities.getNumber()+1}"></th:block> из <th:block
          th:text="${entities.getTotalPages()}"></th:block>.
      </span>

      <th:block th:if="${entities.hasPrevious()}">
        <a href="?page=1">&laquo; первая</a>
        <a th:href="${'?page='+(entities.previousOrFirstPageable().getPageNumber()+1)}">предыдущая</a>
      </th:block>

      <th:block th:if="${entities.hasNext()}">
        <a th:href="${'?page='+(entities.nextOrLastPageable().getPageNumber()+1)}">следующая</a>
        <a th:href="${'?page='+entities.getTotalPages()}">последняя &raquo;</a>
      </th:block>
    </span>
  </div>
</div>