{% extends "sources/file_schema_form/base_schema.html" %}

{% block file-type %} excel {% endblock %}

{% block common %}
<div class="form-group" id="common">
    <div class="form-row first_row">
        <div class="col-md-12 mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="Название" id="name" value="{{ file_schema.name }}">
        </div>
    </div>

    <div class="form-row first_row">
        <div class="col-md-12 mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="Описание" id="description" value="{{ file_schema.description }}">
        </div>
    </div>
</div>
{% endblock %}

{% block form-groups %}
<div class="form-group" id="attr_list">
    <label>
        <button type="button" class="btn btn-sm btn-outline-success add">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </button>
        Список атрибутов:
    </label>
    {% for attr in file_schema.attributes.attrs%}
    <div class="form-row {% if forloop.counter0 == 0 %}first_row{% endif %}">

        <div class="col-md-3 mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="attr_name" value="{{ attr.attr_name }}">
        </div>
        <div class="col-md-7 mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="pattern" value="{{ attr.pattern }}">
        </div>
        <div class="col-md-1 mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="offset" value="{{ attr.offset }}">
        </div>
        <div class="col-md-1 mb-3">
            <button type="button" class="btn btn-outline-danger btn-sm mb-2 remove" {% if forloop.counter0 == 0 %}
                disabled {% endif %}>
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </button>
        </div>

    </div>
    {% endfor %}
</div>

<div class="form-group" id="columns">
    <label>
        <button type="button" class="btn btn-sm btn-outline-success add">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </button>
        Описание колонок:
    </label>
    {% for column in file_schema.attributes.columns %}
    <div class="form-row {% if forloop.counter0 == 0 %}first_row{% endif %}">

        <div class="col-md-3 mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="attr_name" value="{{ column.attr_name }}">
        </div>
        <div class="col-md-4 mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="pattern" value="{{ column.pattern }}">
        </div>outline-
        <div class="col-md-1 mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="offset" value="{{ column.offset }}">
        </div>
        <div class="col-md-2 mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="parent" value="{{ column.parent }}">
        </div>
        <div class="col-md-1 mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="order" value="{{ column.order }}">
        </div>
        <div class="col-md-1 mb-3">
            <button type="button" class="btn btn-outline-danger btn-sm mb-2 remove" {% if forloop.counter0 == 0 %}
                disabled {% endif %}>
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    {% endfor %}
</div>

<div class="form-group" id="start_string_pattern">
    <label>
        <button type="button" class="btn btn-sm btn-outline-success add">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </button>
        Шаблоны первой строки:
    </label>
    {% for start_string_pattern in file_schema.attributes.start_string_pattern %}
    <div class="form-row {% if forloop.counter0 == 0 %}first_row{% endif %}">

        <div class="col-md-11 mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="pattern" value="{{ start_string_pattern.pattern }}">
        </div>
        <div class="col-md-1 mb-3">
            <button type="button" class="btn btn-outline-danger btn-sm mb-2 remove" {% if forloop.counter0 == 0 %}
                disabled {% endif %}>
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </button>
        </div>
    </div>
    {% endfor %}
</div>

<div class="form-group" id="types">
    <label>
        <button type="button" class="btn btn-sm btn-outline-success add">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </button>
        Типы данных:
    </label>
    {% for type in file_schema.attributes.types %}
    <div class="form-row {% if forloop.counter0 == 0 %}first_row{% endif %}">

        <div class="col-md-7 mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="attr_name" value="{{ type.attr_name }}">
        </div>
        <div class="col-md-2 mb-3">
            <select class="form-control form-control-sm type" id="type">
                <option>type</option>
                <option {% if type.type == 'str' %}selected{% endif %} value="str">str</option>
                <option {% if type.type == 'int' %}selected{% endif %} value="int">int</option>
            </select>
        </div>
        <div class="col-md-2 mb-3 not_null">
            <select class="form-control form-control-sm not_null" id="not_null">
                <option>not_null</option>
                <option {% if type.not_null == 'true' %}selected{% endif %} value="true">true</option>
                <option {% if type.not_null == 'false' %}selected{% endif %} value="false">false</option>
            </select>
        </div>
        <div class="col-md-1 mb-3">
            <button type="button" class="btn btn-outline-danger btn-sm mb-2 remove" {% if forloop.counter0 == 0 %}
                disabled {% endif %}>
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    {% endfor %}
</div>

<div class="form-group" id="count_columns_AB">
    {% for count_column_AB in file_schema.attributes.count_columns_AB %}
    <div class="form-row {% if forloop.counter0 == 0 %}first_row{% endif %}">

        <div class="col-md-2 mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="Count_columns_AB" value="count_column_AB.Count_columns_AB">
        </div>

    </div>
    {% endfor %}
</div>


<input type="hidden" id="file_schema_id" value="{{ file_schema_id }}">
{% endblock %}

{% block delete-button %}
    <button type="button" class="btn btn-outline-danger btn-sm float-right" data-dismiss="modal"
        id="modal_file_schema_delete">
        Удалить
    </button>
{% endblock %}